@font-face {
  font-family: "Roboto";
  src: url("../Font/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../Font/Shrikand/Shrikhand-Regular.ttf") format("truetype");
}
* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}
.logo {
  width: 200px;
}
.header-logo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 1.5rem;
  border: none;
  appearance: none;
  background: #e8ebeb;
  outline: none;
  box-shadow: inset 0 10px 10px -6px#BDBFBF;
}

.input-search input[type="text"] {
  padding-left: 7rem;
}

.input-search {
  position: relative;
}
.input-search i {
  position: absolute;
  left: 0;
  top: 23px;
  margin-left: 5rem;
}
::placeholder {
  font-weight: bold;
}
h1 {
  font-family: "Shrikand";
}
a {
  color: inherit;
  text-decoration: none;
}
.descover-item {
  display: flex;
  justify-content: center;
}
